## GIT IGNORE FILE

$savepcb.brd
*.hex
*.o
*.err
*.cof
*.lst
*.map
*.cod
*~

# Compilacion y linkeado
firmware/u4a2/USB4all.X/build
firmware/u4a2/USB4all.X/dist
firmware/u4a2/USB4all.X/*.i

#Makefiles autogenerados
firmware/u4a2/USB4all.X/nbproject/Makefile-default.mk
firmware/u4a2/USB4all.X/nbproject/Makefile-genesis.properties
firmware/u4a2/USB4all.X/nbproject/Makefile-impl.mk
firmware/u4a2/USB4all.X/nbproject/Makefile-variables.mk
firmware/u4a2/USB4all.X/nbproject/Makefile-local-default.mk

#fsusb flasher
fsusb-0.1.11-2/fsusb

